body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url('../images/img-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: white;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.7);
}

.logo {
    height: 50px;
    width: auto;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.menu-link {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
    padding: 10px 15px;
    border: 2px solid white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.menu-link:hover {
    text-decoration: underline;
}

.menu-link.button {
    color: white;
    padding: 10px 15px;
    border: 2px solid white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.menu-link.button:hover {
    background-color: #2a2a2a;
}

.menu-link.forum {
    color: white;
    padding: 10px 15px;
    border: 2px solid white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.menu-link.forum:hover {
    background-color: #2a2a2a;
}

.content {
    padding: 20px;
}

.headline {
    color: white;
    font-size: 30px;
    text-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}

.Homepage {
    color: rgb(0, 255, 255);
}
.footer {
    text-align: center;
    color: white;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    bottom: 0;
    width: 100%;
}
.copy-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.copy-button:hover {
    background-color: #45a049;
}